/* CSS Document Setup */

/*basic reset*/

/*hide elements from browser but show for doc outline*/

.hidden {
    display: none;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/* === Mobile Box Sizes (Mobile-First) === */
@media screen and (min-width: 360px) {
    #main-logo {
        width: 86;
        height: 58;
    }
    
    #nav-con {
        width: 57px;
        height: 58px;
    }

    #socials { display: none;}
    
    #hero-img {
        height: 222px;
        margin: 0px;
    }

    #intro-con {
        height: 225px;
        width: 275px;
        justify-self: center;
    }

    
    #prod-1 { height: 150px;}
    #prod-2 { height: 150px;}
    #prod-3 { height: 150px;}

    #about-con { height: 590px; }

    #quote-con { height: 185px; }

    #comp-1 {
        width: 175px;
        height: 160px;
        justify-self: center;
    }
    #comp-2 {
        width: 175px;
        height: 160px;
        justify-self: center;
    }
    #comp-3 {
        width: 175px;
        height: 160px;
        justify-self: center;
    }
    #comp-4 {
        width: 175px;
        height: 160px;
        justify-self: center;
    }

    #footer-con { height: 420px; }
}

/* === Tablet Box Sizes === */

@media screen and (min-width: 768px) {
    #main-logo {
        width: 160px;
        height: 60px;
    }
    
    #nav-con {
        width: 70px;
        height: 60px;
    }
    
    #hero-img { height: 300px; }

    #intro-con {
        height: 210px;
        width: 575px;
        justify-self: center;
    }

    
    #prod-1 { height: 200px;}
    #prod-2 { height: 200px;}
    #prod-3 { height: 200px;}

    #about-con { height: 590px; }

    #quote-con {
        height: 204px;
    }

    #comp-1 {
        width: 120px;
        height: 120px;
    }
    #comp-2 {
        width: 120px;
        height: 120px;
    }
    #comp-3 {
        width: 120px;
        height: 120px;
    }
    #comp-4 {
        width: 120px;
        height: 120px;
    }

    #footer-con { height: 530px; }
}

/* === Desktop Box Sizes === */

@media screen and (min-width: 1200px) {
    #main-logo {
        width: 350px;
        height: 120px;
    }
    
    #nav-con {
        width: 950px;
        height: 55px;
        margin-top: 75px;
        margin-left: 50px;
    }
    
    #hero-img { height: 860px; }

    #intro-con {
        display: none;
    }

    
    #prod-1 { height: 520px;}
    #prod-2 { height: 520px;}
    #prod-3 { height: 520px;}

    #about-con { height: 900px; }

    #quote-con {
        height: 300px;
    }

    #comp-1 {
        width: 300px;
        height: 300px;
    }
    #comp-2 {
        width: 300px;
        height: 300px;
    }
    #comp-3 {
        width: 300px;
        height: 300px;
    }
    #comp-4 {
        width: 300px;
        height: 300px;
    }

    #footer-con { height: 600px; }
}